[submodule "lib/libft"]
	path = lib/libft
	url = https://github.com/jgo-42/libft
	branch = main
[submodule "make_config"]
	path = make_config
	url = https://github.com/jgodv/make_config
	branch = minishell
